@model List<Synonym>
@{
    ViewData["Title"] = "Index";
}


<div class="section-header">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <h1>Synonyms</h1>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">

    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <button style="float:right; margin-bottom:10px;" class="btn btn-outline-primary" id="toggle-modal-addNewSynonymModal">Add New Word</button>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <button style="float:right; margin-bottom:10px;" class="btn btn-outline-warning toggle-modal-resyncAllSynonyms">Resync All Synonyms</button>
    </div>
</div>
<input id="wordDeleteId" type="hidden" value="" />
<input id="deleteSynonymWordId" type="hidden" value="" />

<table class="table css-serial table-bordered">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Word
            </th>
            <th>
                Synonym Words
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            {
                index += 1;
            }
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @foreach (var sw in item.SynonymWords)
                    {
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @sw.Name
                                <button class="toggle-modal-deleteSynonymWordModal close" onclick="updateDeleteSynonymWordId('@sw.Id')" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                        </ul>

                    }

                </td>
                <td width="30%">
                    <button onclick="updateSynonymDetails('@item.Id','@item.Word')" class="btn btn-sm btn-outline-primary toggle-modal-addNewSynonymWordModal">Add New Synonym Word</button>
                    <button onclick="setWordDeleteId('@item.Id')" class="btn btn-sm btn-outline-danger toggle-modal-deleteWordModal">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#toggle-modal-addNewSynonymModal').fireModal({
            title: 'Add New Word',
            body: ' <div class="form-group">' +
                '<label for="exampleFormControlInput1">Word</label>' +
                '<input type="text" class="form-control" id="word" placeholder="Add new word" autocomplete="off" />' +
                '</div>',
            buttons: [
                {
                    text: 'Add',
                    class: 'btn btn-outline-primary',
                    handler: addNewWord
                },
                {
                    text: 'Close',
                    class: 'btn btn-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

        $('.toggle-modal-addNewSynonymWordModal').fireModal({
            title: 'Add New Synonym Word',
            body: ' <div class="form-group">' +
                '<label for="exampleFormControlInput1">Synonym Word</label>' +
                '<input type="text" class="form-control SynonymWord" placeholder="Add new synonym word" autocomplete="off" />' +
                '</div>',
            buttons: [
                {
                    text: 'Add',
                    class: 'btn btn-outline-primary',
                    handler: addNewSynonymWord.bind(this)
                },
                {
                    text: 'Close',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

        $('.toggle-modal-deleteSynonymWordModal').fireModal({
            title: 'Delete Synonym Word',
            body: 'Are you sure you want to delete this Synonym Word?',
            buttons: [
                {
                    text: 'Delete',
                    class: 'btn btn-outline-danger',
                    handler: deleteSynonymWord
                },
                {
                    text: 'No',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

        $('.toggle-modal-deleteWordModal').fireModal({
            title: 'Delete Word',
            body: 'Are you sure you want to delete this Word?',
            buttons: [
                {
                    text: 'Delete',
                    class: 'btn btn-outline-danger',
                    handler: deleteWord
                },
                {
                    text: 'No',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

        var body = '<div class="alert alert-warning">' +
            '<b>Note! </b> Re-syncing Synonyms using this feature is recommended only if you have added/modified/deleted the Synonyms.' +
            '</br> Re-syncing of the Synonyms will be happening in the background.</div > ';

        $('.toggle-modal-resyncAllSynonyms').fireModal({
            title: 'Request for Sync Synonyms',
            body: body + '<b>Are you sure you want to Sync all the Synonyms?</b>',
            buttons: [
                {
                    text: 'Sync Synonyms',
                    class: 'btn btn-outline-warning',
                    handler: resyncSynonyms
                },
                {
                    text: 'Cancel',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

    }

    function getLanguages() {
        var request = $.ajax({
            url: "/Synonyms/GetAllLanguages",
            type: "GET",
            success: function (data) {
                languages = data;
                intializePageLoadFunctions();
            }
        });
    }

    });


    var synonymDetails = {};
    var wordDetails = {};

    function setWordDeleteId(id) {
        $('#wordDeleteId').val(id);
    }

    function updateDeleteSynonymWordId(id) {
        $('#deleteSynonymWordId').val(id);
    }

    function deleteWord() {
        var id = $('#wordDeleteId').val();

        var request = $.ajax({
            url: "/Synonyms/DeleteWordById?id=" + id,
            type: "DELETE"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'Word deleted successfully.',
            });
            setTimeout(function () { window.location.reload(); }, 1000);
        });

        request.fail(function (jqXHR, textStatus) {
            request.fail(function (jqXHR, textStatus) {
                iziToast.error({
                    title: 'Error!',
                    position: 'topRight',
                    message: 'Failed to delete Word.',
                });
            });
        });
    }

    function deleteSynonymWord() {
        var id = $('#deleteSynonymWordId').val();

        var request = $.ajax({
            url: "/Synonyms/DeleteSynonymWordById?id=" + id,
            type: "DELETE"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'Synonym Word deleted successfully.',
            });
            setTimeout(function () { window.location.reload(); }, 1000);
        });

        request.fail(function (jqXHR, textStatus) {
            request.fail(function (jqXHR, textStatus) {
                iziToast.error({
                    title: 'Error!',
                    position: 'topRight',
                    message: 'Failed to delete Synonym Word.',
                });
            });
        });
    }

    function updateSynonymDetails(id, word) {
        synonymDetails.id = id;
        synonymDetails.word = word;
        $('#addNewSynonymWordModalLabel').text('Add New Synonym Word for - ' + word);
    }

    function addNewWord() {
        var word = document.getElementById('word').value.trim();

        if (word.trim().length == 0) {
            alert('Please enter the Word.');
            return;
        }


        if (lang.trim().length == 0 || lang == "Select the Language") {
            alert('Please select the Language');
            return;
        }


        var langId = parseInt(lang);

        var request = $.ajax({
            url: "/Synonyms/AddNewWord",
            data: { Id: 0, Word: word },
            type: "POST"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'New Word added successfully.',
            });
            setTimeout(function () { window.location.reload(); }, 1000);
        });

        request.fail(function (jqXHR, textStatus) {
            iziToast.error({
                title: 'Error!',
                position: 'topRight',
                message: 'Failed to add new Word.',
            });
        });
    }

    function addNewSynonymWord(e) {

        var word = $("#" + e[0].id + " .SynonymWord").val().trim();
        var synonymWord = { Id: 0, name: word, SynonymId: synonymDetails.id };

        if (word.trim().length == 0) {
            alert('Please enter the Synonym Word.');
            return;
        }

        var request = $.ajax({
            url: "/Synonyms/AddNewSynonymWord",
            data: synonymWord,
            type: "POST"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'New Synonym Word added successfully.',
            });
            setTimeout(function () { window.location.reload(); }, 500);
        });

        request.fail(function (jqXHR, textStatus) {
            iziToast.error({
                title: 'Error!',
                position: 'topRight',
                message: 'Failed to add new Synonym Word.',
            });
        });
    }

    function resyncSynonyms(current_modal) {

        $.destroyModal(current_modal);

        var request = $.ajax({
            url: "/Synonyms/ReSyncSynonyms",
            type: "POST"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'Synonyms re-synched successfully.',
            });
        });

        request.fail(function (jqXHR, textStatus) {
            request.fail(function (jqXHR, textStatus) {
                iziToast.error({
                    title: 'Error!',
                    position: 'topRight',
                    message: jqXHR.responseText,
                });
            });
        });
    }
</script>
