@model Faq

<h4>Edit FAQ</h4>

<hr />

<div class="alert alert-info">
    <strong>Note:</strong> Always make sure that you <strong>Train</strong> and <strong>Deploy</strong> the FAQ BOT after editing an existing FAQ.
</div>
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Update", "Faq", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m=>m.Id)
            <div class="form-group">
                @Html.LabelFor(a => a.Question, new { @class = "control-label" })
                @Html.TextBoxFor(a => a.Question, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Question, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Answer, new { @class = "control-label" })
                @Html.TextAreaFor(a => a.Answer, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Answer, "", new { @class = "text-danger" })
            </div>
            <input class="btn btn-primary" type="submit" value="Update" />
        }


        @*<form asp-action="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answer" class="control-label"></label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>*@
    </div>
</div>

<div>
    <a asp-action="Display">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
