@model List<WebScapeConfig>
@{
    ViewData["Title"] = "Index";
}

<div class="section-header">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <h1>Web Scrape Config</h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-12">

    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <button style="float:right; margin-bottom:10px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("addnew", "webpage")'">Add new web page</button>
    </div>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Pages</h4>
                    <div class="card-stats">
                        <div class="card-stats-items">
                            <div class="card-stats-item">
                                <div class="card-stats-item-label">Total Requests</div>
                                <div class="card-stats-item-count">@Model.Count()</div>
                            </div>

                            <div class="card-stats-item">
                                <div class="card-stats-item-label">Pending Requests</div>
                                <div class="card-stats-item-count">@Model.Count(a => a.ScrapeStatus == ScrapeStatus.YetToScrape)</div>
                            </div>

                            <div class="card-stats-item">
                                <div class="card-stats-item-label">Successful Requests</div>
                                <div class="card-stats-item-count">@Model.Count(a => a.ScrapeStatus == ScrapeStatus.ScrapeSuccess)</div>
                            </div>

                            <div class="card-stats-item">
                                <div class="card-stats-item-label">Failed Requests</div>
                                <div class="card-stats-item-count">@Model.Count(a => a.ScrapeStatus == ScrapeStatus.ScrapeFailed)</div>
                            </div>

                            <div class="card-stats-item">
                                <button class="btn btn-sm btn-outline-warning toggle-modal-addWebScrapeRequest">Rescrape All Web Pages</button>
                                @*<button style="float:right; margin-bottom:10px;" class="btn btn-outline-success" onclick="location.href='/WebPage/AddNew'">Rescrape All Web Pages</button>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-md">
                            <tbody>
                                <tr>
                                    <th style="text-align:right">
                                        S No.
                                    </th>
                                    <th>
                                        Page Name
                                    </th>
                                    <th>
                                        Url
                                    </th>
                                    <th>
                                        Last Scraped On
                                    </th>
                                    <th>
                                        Scraping Status
                                    </th>
                                    <th>
                                        Error
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                                @{
                                    var index = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    {
                                        index += 1;
                                    }
                                    <tr>
                                        <td style="text-align:right">@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PageName)
                                        </td>
                                        <td>
                                            <a target="_blank" href="@item.Url">@item.Url</a>
                                        </td>

                                        <td>
                                            @{
                                                var lastScrapedOn = item.LastScrapedOn.HasValue ? item.LastScrapedOn.Value.ToString("dd-MMM-yyyy") : "N/A";
                                            }
                                            @lastScrapedOn
                                        </td>
                                        <td>
                                            @{
                                                var status = item.GetEnumDescription();
                                                var statusClass = "badge-warning";
                                                switch (item.ScrapeStatus)
                                                {
                                                    case ScrapeStatus.YetToScrape:
                                                        statusClass = "badge-warning";
                                                        break;
                                                    case ScrapeStatus.ScrapeSuccess:
                                                        statusClass = "badge-success";
                                                        break;
                                                    case ScrapeStatus.ScrapeFailed:
                                                        statusClass = "badge-danger";
                                                        break;
                                                    default:
                                                        break;
                                                }

                                            }
                                            <div class="badge @statusClass">@status</div>
                                        </td>
                                        <td>
                                            @item.ErrorMessage
                                        </td>
                                        <td>
                                            @{
                                                string isActive = (item.IsActive) ? "Yes" : "No";
                                            }
                                            @isActive
                                        </td>
                                        <td width="0%">
                                            <button onclick="location.href='@Url.Action("Edit", "WebPage", new { pageId=item.Id})'" class="btn btn-sm btn-outline-primary">Edit</button>
                                            <button onclick="setcurrentWebPageId('@item.Id')" class="btn btn-sm btn-outline-danger toggle-modal-deleteWebPageModal">Delete</button>
                                            @*<button onclick="setcurrentWebPageId('@item.Id')" class="btn btn-sm btn-outline-warning toggle-modal-addWebScrapeRequest">Request Rescrape</button>*@
                                        </td>
                                    </tr>
                                }
                                @if (Model.Count == 0)
                                {
                                    <tr class="no-data" style="text-align:center">
                                        <td colspan="7">No data found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="currentWebPageId" type="hidden" value="" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.toggle-modal-deleteWebPageModal').fireModal({
            title: 'Delete Web Page',
            body: 'Are you sure you want to delete this Web Page?',
            buttons: [
                {
                    text: 'Delete',
                    class: 'btn btn-outline-danger',
                    handler: deleteWebPage
                },
                {
                    text: 'No',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });

        var body = '<div class="alert alert-warning">' +
            '<b>Note! </b> Re-scrape web page using this feature is recommended only if your page content is changed with the same structure.' +
            '</br> Rescrape of the web page will be happening in the background. Once it is completed, Status will be updated in the <b>Web scrape config</b> page.</div > ';

        $('.toggle-modal-addWebScrapeRequest').fireModal({
            title: 'Request for Web Page Rescrape',
            body: body + '<b>Are you sure you want to rescrape all the Web Pages?</b>',
            buttons: [
                {
                    text: 'Rescrape',
                    class: 'btn btn-outline-warning',
                    handler: rescrapeWebPages
                },
                {
                    text: 'Cancel',
                    class: 'btn btn-outline-secondary',
                    handler: function (current_modal) {
                        $.destroyModal(current_modal);
                    }
                }
            ]
        });
    });

    var synonymDetails = {};
    var wordDetails = {};

    function setcurrentWebPageId(id) {
        $('#currentWebPageId').val(id);
    }

    function deleteWebPage() {
        var id = $('#currentWebPageId').val();

        var request = $.ajax({
            url: "/WebPage/DeleteById?pageId=" + id,
            type: "DELETE"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'Web page deleted successfully.',
            });
            setTimeout(function () { window.location.reload(); }, 1000);
        });

        request.fail(function (jqXHR, textStatus) {
            request.fail(function (jqXHR, textStatus) {
                iziToast.error({
                    title: 'Error!',
                    position: 'topRight',
                    message: 'Failed to delete Web Page.',
                });
            });
        });
    }

    function rescrapeWebPages() {

        var request = $.ajax({
            url: "/WebPage/RescrapeAllPages",
            type: "POST"
        });

        request.done(function (response) {
            iziToast.success({
                title: 'Done!',
                position: 'topRight',
                message: 'Web page rescrape request is done successfully.',
            });
        });

        request.fail(function (jqXHR, textStatus) {
            request.fail(function (jqXHR, textStatus) {
                iziToast.error({
                    title: 'Error!',
                    position: 'topRight',
                    message: 'Failed to add request for Web Page Rescrape.',
                });
            });
        });
    }
</script>
