@model List<UserInfo>

@{
    ViewData["Title"] = "Visitors";
}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("FrequentlyAskedQueries", "Report")'>Frequently Asked Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black active" href='@Url.Action("AppUsers", "Report")'>Visitors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("UnAnsweredQueries", "Report")'>UnAnswered Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("LeadGenerationReport", "Report")'>Lead Generation Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("UnSatisfiedVisitors", "Report")'>UnSatisfied Visitors</a>
            </li>
        </ul>
    </div>
</nav>



<h2 class="pt-3 pb-3">Visitors</h2>
 

<table class="table css-serial">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Last Visited
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @{
                        var date = item.CreatedOn.ToString("ddd, dd MMM yyy HH:mm:ss");
                    }
                    @date
                </td>
            </tr>
        }
    </tbody>
</table>
<style>

    .css-serial {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }

        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
</style>