@model LeadGenerationReportViewModel

@{
    ViewData["Title"] = "Lead Generation Report";
}

<script type="text/javascript">
    function formatDate(date, type) {
        var current_datetime, formatted_date;
        switch (type) {
            case "mm-dd-yyyy":
                current_datetime = new Date(date);
                formatted_date = (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + "-" + current_datetime.getFullYear();
                break;
            case "yyyy-mm-dd":
                current_datetime = new Date(date);
                formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate();
                break;
            default:
        }
        return formatted_date;
    }

    $(function () {
        var from_date = '@Model.From';
        var to_date = '@Model.To';

        from_date = from_date.split("-")[1] + "-" + from_date.split("-")[0] + "-" + from_date.split("-")[2];
        to_date = to_date.split("-")[1] + "-" + to_date.split("-")[0] + "-" + to_date.split("-")[2];

        $("#datepicker_from").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', formatDate(from_date, "mm-dd-yyyy"));

        $("#datepicker_to").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', formatDate(to_date, "mm-dd-yyyy"));

       $("#from_date_input").change(function () {
            from_date = formatDate(this.value, "mm-dd-yyyy");
            var startDate = new Date(this.value);
            $('#datepicker_to').datepicker('setStartDate', startDate);
        });

        $("#to_date_input").change(function () {
            to_date = formatDate(this.value, "mm-dd-yyyy");
             var toDate = new Date(this.value);
             $('#datepicker_from').datepicker('setEndDate', toDate);
        });

        $('#filter_btn').click(function () {
            var fdate = formatDate(from_date, "yyyy-mm-dd");
            var tdate = formatDate(to_date, "yyyy-mm-dd");

            $("#from").val(fdate);
            $("#to").val(tdate);

            $("#submit_btn").click();
        });

        $('#export_btn').click(function () {
    debugger;
            var tdate = formatDate(to_date, "yyyy-mm-dd");
            $(".from").val(formatDate(from_date, "yyyy-mm-dd"));
            $(".to").val(formatDate(to_date, "yyyy-mm-dd"));
            $("#export_btn_submit").click();
        });
    });
</script>

<div class="section-header">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <h1>Lead Generation Report</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <form class="form-inline" role="form" action="/report/LeadGenerationReport" method="post">
            <input type="hidden" id="from" name="from" value="" />
            <input type="hidden" id="to" name="to" value="" />
            <div class="form-group">
                <label for="From">From</label>   &nbsp;
                <div id="datepicker_from" class="input-group date" data-date-format="mm-dd-yyyy" data-date-end-date="0d">
                    <input class="form-control" type="text" id="from_date_input" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <label for="To">To</label>   &nbsp;
                <div id="datepicker_to" class="input-group date" data-date-format="mm-dd-yyyy" data-date-end-date="0d">
                    <input class="form-control" type="text" id="to_date_input" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <button type="submit" style="display:none" id="submit_btn" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <button type="button" id="filter_btn" class="btn btn-primary">Filter</button> &nbsp; &nbsp;
        <button class="btn btn-outline-success" type="button" id="export_btn">Export</button>

        <form class="form-inline" role="form" action="/report/ExportLeadGenerationReport" method="post">
            <input class="from" name="from" type="hidden" value="">
            <input class="to" name="to" type="hidden" value="">
            <button id="export_btn_submit" style="display:none" type="submit">Export Report</button>
        </form>
        @*@using (Html.BeginForm("", "Report"))
            {
                <input id="from" class="from" name="from" type="hidden" value="">
                <input id="to" class="to" name="from" type="hidden" value="">
                <button id="export_btn_submit" style="display:none" type="submit">Export Report</button>
            }*@
    </div>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Report</h4>
                    <div class="card-stats">
                        <div class="card-stats-items">
                            @{
                                var fromDate = Model.From;
                                var toDate = Model.To;
                            }
                            <div class="card-stats-item">
                                <div class="card-stats-item-label">From</div>
                                <div class="card-stats-item-count">
                                    @fromDate
                                </div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-label">To</div>
                                <div class="card-stats-item-count">
                                    @toDate
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0">
                    <div id="accordion">
                        @{
                            var headerIndex = 0;
                            var headerId = "";
                            var data_target = "";
                            var id = "";
                        }
                        @foreach (var item in Model.ConversationsByIntent)
                        {
                            {
                                var uniqueNumber = Guid.NewGuid().ToString();
                                headerIndex = headerIndex + 1;
                                headerId = "heading" + uniqueNumber;
                                data_target = "#collapse" + uniqueNumber;
                                id = "collapse" + uniqueNumber;
                            }

                            <div class="card">
                                <div class="card-header" id="@headerId">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link report-heading" data-toggle="collapse" data-target="@data_target" aria-expanded="true" aria-controls="@id">
                                            @item.Intent
                                        </button>
                                    </h5>
                                </div>

                                <div id="@id" class="collapse show" aria-labelledby="@headerId" data-parent="#accordion">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Visitor Name
                                                    </th>
                                                    <th>
                                                        Visitor Phone Number
                                                    </th>
                                                    <th>
                                                        Number of queries
                                                    </th>
                                                    <th>
                                                        Visited On
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>

                                            @{
                                                int index = 0;
                                                int ChatLogs = 0;
                                                var groupdata_target = "";
                                                var groupId = "";
                                                var visitedOn = "";
                                                var groupdata_collepes_parent_parent = "";
                                                var groupdata_collepes_parent_parent_target = "";
                                            }

                                            <tbody>
                                                @foreach (var user in item.ConversationByUsers)
                                                {
                                                    {
                                                        var uniqueNumber = Guid.NewGuid().ToString();
                                                        index = index + 1;
                                                        visitedOn = user.TimeStamp.ToString("ddd, dd MMM yyy HH:mm:ss");
                                                        ChatLogs = user.TurnConversations.Count();
                                                        groupdata_target = "#group-of-rows-" + uniqueNumber;
                                                        groupId = "group-of-rows-" + uniqueNumber;
                                                        groupdata_collepes_parent_parent_target = "#collepes-parent-" + uniqueNumber;
                                                        groupdata_collepes_parent_parent = "collepes-parent-" + uniqueNumber;
                                                    }

                                                    <tr id="@groupdata_collepes_parent_parent" class="clickable" data-toggle="collapse" data-target="@groupdata_target" aria-expanded="false" aria-controls="@groupId">
                                                        <td>@index</td>
                                                        <td>@Html.DisplayFor(modelItem => user.Name)</td>
                                                        <td>@Html.DisplayFor(modelItem => user.PhoneNumber)</td>
                                                        <td>@ChatLogs</td>
                                                        <td>@visitedOn</td>
                                                        <td>
                                                            <button type="button" class="btn btn-light btn-hover">View</button>
                                                            <i class="fa fa-plus " aria-hidden="true"></i>
                                                        </td>
                                                    </tr>



                                                    <tr>
                                                        <td colspan="6">
                                                            <table id="@groupId" class="table table-bordered example-table sub-table collapse " data-parent="@groupdata_collepes_parent_parent_target">
                                                                <thead>
                                                                    <tr><th>S. No.</th><th>Visitor Query</th><th>Bot Response</th> </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{
                                                                        var childRowIndex = 0;
                                                                        var TurnConversations = new List<TurnConversation>();
                                                                        TurnConversations = user.TurnConversations;
                                                                    }

                                                                    @foreach (var data in TurnConversations)
                                                                    {
                                                                        {
                                                                            childRowIndex = childRowIndex + 1;
                                                                        }
                                                                        <tr class="table-info">
                                                                            <td>@childRowIndex</td>
                                                                            <td>@data.UserQuery</td>
                                                                            <td><p style="white-space: pre-line">@Html.Raw(data.BotResponse)</p></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>



                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.ConversationsByIntent.Count == 0)
                    {

                        <div id="accordion" style="text-align:center">
                            No data found !
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
