@model List<UnAnsweredQueries>

@{
    ViewData["Title"] = "UnAnswered Queries";
}

<h2>UnAnswered Queries</h2>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Query
            </th>
            <th>
                Bot Response
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            {
                index = index + 1;
            }
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Query)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BotResponse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
        }
    </tbody>
</table>