@model List<UnAnsweredQueries>

@{
    ViewData["Title"] = "Unsatisfied Visitors";
}


<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("FrequentlyAskedQueries", "Report")'>Frequently Asked Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("AppUsers", "Report")'>Visitors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black" href='@Url.Action("UnAnsweredQueries", "Report")'>UnAnswered Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black " href='@Url.Action("LeadGenerationReport", "Report")'>Lead Generation Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black active" href='@Url.Action("UnSatisfiedVisitors", "Report")'>UnSatisfied Visitors</a>
            </li>
        </ul>
    </div>
</nav>



<h2 class="pt-3 pb-3">UnSatisfied Visitors</h2>
 
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Query
            </th>
            <th>
                Bot Response
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Date
            </th>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            {
                index = index + 1;
                var timeStamp = item.TimeStamp.ToString("ddd, dd MMM yyy HH:mm:ss");

                <tr>
                    <td>@index</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Query)
                    </td>
                    <td width="40%">
                        @Html.DisplayFor(modelItem => item.BotResponse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @timeStamp
                    </td>
                </tr>
            }
        }
    </tbody>
</table>